<h3>Canvas Demo1</h3>
<div>
	Select a tool to start drawing!
</div>
<span class="js-selected-properties-stroke-width">Wdith
              <select className="js-selected-properties-stroke-width-value span1">
                <option value='1'>1</option>
                <option value='2'>2</option>
                <option value='3'>3</option>
                <option value='4'>4</option>
                <option value='5'>5</option>
                <option value='6'>6</option>
                <option value='7'>7</option>
                <option value='8'>8</option>
                <option value='9'>9</option>
                <option value='10'>10</option>
              </select>
            </span>
            <span class="js-selected-properties-fill"> Fill

              <input type='text' class='js-selected-properties-fill-value js-color'>
            </span>
            <span class="js-selected-properties-stroke"> Stroke
              <input type='text' class='js-selected-properties-stroke-value js-color'>
            </span>
<canvas id="drawingCanvas" style="border: 1px solid #ccc" width='750px' height='600px'></canvas>
<button class="js-tools-cursor">Cursor</button>
<button class="js-tools-draw">Draw</button>
<button class="js-tools-line">Line</button>
