<h2>My Courses</h2>
<div>
  <label>Course name:</label> <input #courseName />
  <button (click)="add(courseName.value); courseName.value=''">
    Add course
  </button>
</div>

<ul class="heroes">
  <li *ngFor="let course of courses"
    [class.selected]="course === selectedCourse"
    (click)="onSelect(course)">
    <span class="badge">{{course.id}}</span> {{course.name}}
  </li>
</ul>


<div *ngIf="selectedCourse">
  <h2>
    {{selectedCourse.name | uppercase}} is my course
  </h2>
  <div>
  <input [(ngModel)]="selectedCourse.name" placeholder="name">
</div>

<button (click)="save()">Save</button>

  <button (click)="gotoDetail()">View Details</button>
</div>